ALCHEMY_MAINNET_PROVIDER_URL="https://opt-mainnet.g.alchemy.com/v2/URL"
ALCHEMY_TESTNET_PROVIDER_URL="https://opt-sepolia.g.alchemy.com/v2/URL"
ALCHEMY_API_KEY=""
WALLET_PRIVATE_KEY=""
WALLET_PRIVATE_KEY_B=""
ADDRESS_CNCOIN="0x7bE2537C83883f0386C21f102adACe44BC29a1B6"
ADDRESS_CNAUTS="0xB90a2e63eA5F97CdA892b4644A09e4BbE4598f2e"
ADDRESS_CNSALE="0xfFe3C01b28C30C12D05Dd3f064b6A5162cfCC445"